### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli = pd.read_csv(file_to_load)
pymoli

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
players = len(pymoli['SN'].value_counts())
players

576

In [3]:
player_count = pd.DataFrame({"Total Players": [players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = len((pymoli["Item ID"]).unique())

In [13]:
average_price = (pymoli["Price"]).mean()
average_price

3.050987179487176

In [14]:
number_of_purchases = (pymoli["Purchase ID"]).count()
number_of_purchases

780

In [15]:
total_revenue = (pymoli["Price"]).sum()
total_revenue

2379.77

In [18]:
purchase_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
purchase_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [41]:
gender = pymoli.groupby("Gender")

In [20]:
total_gender_count = gender.nunique()["SN"]

In [21]:
players_percent = total_gender_count / players * 100

In [29]:
gender_group = pd.DataFrame({"Total Count": total_gender_count,"Percentage of Players": players_percent})
gender_group.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
purchase_count = gender["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [32]:
avg_purchase_price = gender["Price"].mean()

In [33]:
avg_purchase_total = gender["Price"].sum()

In [34]:
avg_purchase_per_person = avg_purchase_total/total_gender_count

In [38]:
gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

In [40]:
# Format with currency style
gender_demo.style.format({"Average Purchase Value":"${:,.2f}",
                          "Average Purchase Price":"${:,.2f}",
                          "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [45]:
pymoli["Age Group"] = pd.cut(pymoli["Age"],age_bins, labels=group_names)
pymoli

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [46]:
age_grouped = pymoli.groupby("Age Group")

In [47]:
total_count_age = age_grouped["SN"].nunique()

In [49]:
percentage_by_age = (total_count_age/players) * 100

In [52]:
age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percentage_by_age})

In [53]:
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
purchase_count_age = age_grouped["Purchase ID"].count()
purchase_count_age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [62]:
avg_purchase_price_age = age_grouped["Price"].mean()

In [63]:
total_purchase_value = age_grouped["Price"].sum()

In [64]:
avg_purchase_per_person_age = total_purchase_value/total_count_age

In [65]:
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
spender = pymoli.groupby("SN")
spender

In [68]:
purchase_count_spender = spender["Purchase ID"].count()

In [74]:
average_purchase_price_spender = spender["Price"].mean()

In [75]:
purchase_total_spender = spender["Price"].sum()

In [76]:
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": average_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
spenders_df = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
spenders_df.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
items = pymoli[["Item ID", "Item Name", "Price"]]

In [86]:
item = items.groupby(["Item ID","Item Name"])

In [87]:
purchase_item_count = item["Price"].count()

In [88]:
purchase_value = (item["Price"].sum())

In [89]:
item_price = purchase_value/purchase_item_count

In [90]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_item_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [93]:
popular = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})